.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品
.pickup__item__bottom__image
  %p ¥5,500
  =image_tag "brand-item-image.jpg", height: "188px", width: "188px;"
  %span ブランド品