= link_to product_path(product) do
  .pickup__item__bottom__image
    %p
      ¥
      = product.selling_prime
    %a
      = image_tag (product.images[0].url), height: "188px", width: "188px"
    %span 
      = product.name