.userpage_home {
  background-color: #dcdcdc;
  float: right;
  width: 100%;

.userpage_home_form {
  height: 190vh;
  background-color: #dcdcdc;
}

.userpage_home_top {
  width: 80%;
  height: 50px;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  font-size: 30px;
  background-color: white;
  padding: 10px 0;
}

.userpage_home_explain {
  width: 80%;
  height: 13.635%;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 95%;
  background-color: white;

  a {
    text-align: right;
    margin-left: 55%;
    color: #00bfff;
    text-decoration: none;
  }
}

.userpage_home{
  width: 80%;
  height: 18.5%;
  padding-right: 10%;
  padding-left: 10%;
  background-color: white;

  div {
    height: 5%;
    margin-bottom: 10%;
    span{
      color: black;
    }
    br{
      height: 5px;
    }
  }
}

.userpage_home_form {
  width: 80%;
  height: 59%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 50px;
  background-color: white;
}

.input_postnum, .input_prefecture, .input_city, .input_adress, .input_homename {
  width: 100%;
  height: 48px;
  padding: 10px 16px 8px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 100%;
}

input[type="submit"] {
  width: 101%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-bottom: 5%;
  background-color: red;
  color: white;
  text-align: center;
}

.about_your_data {
  text-decoration: none;
  margin-left: 71%;
  font-size: 100%;
  color: #00bfff;
}

.pt20 {
  padding-top: 20px;
}

.inverse {
  background: #000;
  padding: 20px 0;
  color: #fff;
}

.select-wrap {
  position: relative;

  &:before {
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 0;
    content: "\f123";
    font-family: "IonIcons";
    line-height: 43px;
    color: #7F878C;
    pointer-events: none;
  }
}

select {
  outline: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border: 1px solid #ddd;
  color: #828c9a;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5%;

  option {
    background-color: #fff;
    color: #333;
  }

  &::-ms-expand {
    display: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
  }
}

.input_prefecture {
  &.select-primary {
    &:before {
      color: #fff;
    }

    > select {
      background: #0084B4;
      color: #fff;
      border-color: #0084B4;

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #fff;
      }
    }
  }

  &.select-inverse {
    &:before {
      color: #fff;
    }

    > select {
      color: #dcdcdc;
      border-color: #dcdcdc;

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #fff;
      }
    }
  }
}
}