.top-page_header{
  height:100px;

  .header-top{
     .header-top__logo{

     }
    textarea{

    }
  }

  .header-bottom{
    .header-bottom__search-menu{
      .header-bottom__search-menu__category{
        .header-bottom__search-menu__category__icon{
          color: red;
          span{
            color: black;
          }
        }
        .header-bottom__search-menu__category__wrapper{

        }
        .header-bottom__search-menu__brand{

        }
        .header-bottom__search-menu__brand__icon{
          color: red;
          span{
            color: black;
          }
        }
      }
    }
  }
}