//header-----------------
.input-header{
  width: 60%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: white;
  position:relative;
  top:60px;
  left:20%;
  line-height: 90px;
  font-size: 30px;
  font-weight:bold;
  font-weight:bold;
}
.phone-header{
  width: 60%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: white;
  position:relative;
  top:150px;
  left:20%;
  line-height: 90px;
  font-size: 30px;
  font-weight:bold;
}
.address-header{
  width: 60%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: white;
  position:relative;
  top:10px;
  left:19%;
  line-height: 90px;
  font-size: 30px;
  font-weight:bold;
}
.credit-header{
  width: 60%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: white;
  position:relative;
  top:46px;
  left:20%;
  line-height: 90px;
  font-size: 30px;
  font-weight:bold;
}
.complete-header{
  width: 60%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: white;
  position:relative;
  top:10px;
  left:20%;
  line-height: 90px;
  font-size: 30px;
  font-weight:bold;
}
//--------------------------
.members-input-form{
  width: 60%;
  height:550px;
  background-color: #ccc;
  position:relative;
  top:60px;
  left:20%;
  background-color: white;
  padding-top:20px;
  padding-left:250px;
  font-weight:bold;

  h2{
    background: #FF1A00;
    color: #FFF;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    letter-spacing: 0.2em;
    position: absolute;
    left:45%;
    top:5%;
    }
    h3{
      background: #FF1A00;
      color: #FFF;
      border-radius: 3px;
      font-size: 10px;
      margin-right: 10px;
      padding: 5px 10px;
      letter-spacing: 0.2em;
      position: absolute;
      left:47%;
      top:24.5%;
      }
      h4{
        background: #FF1A00;
        color: #FFF;
        border-radius: 3px;
        font-size: 10px;
        margin-right: 10px;
        padding: 5px 10px;
        letter-spacing: 0.2em;
        position: absolute;
        left:43%;
        top:44%;
        }
    
        h5{
          background: #FF1A00;
          color: #FFF;
          border-radius: 3px;
          font-size: 10px;
          margin-right: 10px;
          padding: 5px 10px;
          letter-spacing: 0.2em;
          position: absolute;
          left:49%;
          top:63.5%;
          }

  h1{
    font-weight:bold;
    font-size:15px;
    position: relative;
    right:3%;
  }

  p{
    width:340px;
    height:50px;
    font-weight:normal;
  }
}
.input-members{
  width: 60%;
  height: 48px;
  padding: 10px 16px 8px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 100%;
  font-weight:bold;
  margin-top:3px;
}
.input-footer-name{
  width: 60%;
  height:180px;
  background-color: #ccc;
  position:relative;
  top:60px;
  left:20%;
  background-color: white;
  padding-top:20px;
  padding-left:240px;
  font-weight:bold;

  h1{
    background: #FF1A00;
    color: #FFF;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    letter-spacing: 0.2em;
    position: absolute;
    left:43%;
    top:16.5%;
    }
}
  .input-name{
   float:left;
   width: 30%;
   height: 48px;
   padding: 10px 16px 8px;
   margin-bottom: 40px;
   border: 1px solid #ccc;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   font-size: 100%;
   margin:5px;

   h1{
    background: #FF1A00;
    color: #FFF;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    letter-spacing: 0.2em;
    position: absolute;
    left:44%;
    top:26.5%;
    }
  }
  .input-footer-kana{
  width: 60%;
  height:100px;
  background-color: #ccc;
  position:relative;
  top:1px;
  left:20%;
  background-color: white;
  padding-top:10px;
  padding-left:240px;
  font-weight:bold;

  h1{
    background: #FF1A00;
    color: #FFF;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    letter-spacing: 0.2em;
    position: absolute;
    left:47%;
    top:20.5%;
    }
  }
  .input-footer-birth{
  width: 60%;
  height:300px;
  background-color: #ccc;
  position:relative;
  top:1px;
  left:20%;
  background-color: white;
  padding-top:25px;
  padding-left:245px;

  h2{
    background: #FF1A00;
    color: #FFF;
    border-radius: 3px;
    font-size: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    letter-spacing: 0.2em;
    position: absolute;
    left:40%;
    top:12%;
    }
  
  h1{
    font-weight:bold;
    font-size:15px;
  }

  p{
    width:340px;
    height:50px;
  }
  }
  .input-birth{
    width: 20%;
    height: 48px;
    padding: 10px 16px 8px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 100%;
    margin-top:5px;
  }
    
    .register-button{
      width: 60%;
      padding-top: 2.5%;
      padding-bottom: 2.5%;
      margin-bottom: 5%;
      background-color: red;
      color: white;
      text-align: center;
    }
    .input-number-main{
      width: 60%;
      height:400px;
      background-color: #ccc;
      position:relative;
      top:150px;
      left:20%;
      background-color: white;
      padding-top:40px;
      padding-left:250px;
      
      h1{
        font-weight:bold;
      }

      p{
        height:80px;
        width:350px;
      }
    }

    .input-number{
      width: 60%;
      height: 48px;
      padding: 10px 16px 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 100%;
      margin-right:10px;
    }
    .sms-button{
      width: 60%;
      height: 50px;
      padding-top: 2.5%;
      padding-bottom: 2.5%;
      margin-bottom: 5%;
      background-color: red;
      color: white;
      text-align: center;
    }
    .number-footer{
      width: 60%;
      height:70px;
      background-color: #ccc;
      position:relative;
      top:70px;
      left:20%;
      background-color: white;
      padding-top:20px;
      padding-left:400px;
    }
    .address-name{
      width: 60%;
      height:160px;
      background-color: #ccc;
      position:relative;
      top:10px;
      left:19%;
      background-color: white;
      padding-top:20px;
      padding-left:250px;
      font-weight:bold;

      h1{
        background: #FF1A00;
        color: #FFF;
        border-radius: 3px;
        font-size: 10px;
        margin-right: 10px;
        padding: 5px 10px;
        letter-spacing: 0.2em;
        position: absolute;
        left:45%;
        top:19%;
        }
    }
    .input-address-name{
      width: 60%;
      height: 40px;
      padding: 10px 16px 8px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 100%;
      font-weight:bold;
      margin-top:5px;
    }
    .address-kana{
      width: 60%;
      height:150px;
      background-color: #ccc;
      position:relative;
      top:10px;
      left:19%;
      background-color: white;
      padding-top:20px;
      padding-left:250px;
      font-weight:bold;

      h1{
        background: #FF1A00;
        color: #FFF;
        border-radius: 3px;
        font-size: 10px;
        margin-right: 10px;
        padding: 5px 10px;
        letter-spacing: 0.2em;
        position: absolute;
        left:48%;
        top:20%;
        }
    }
    .address-input{
      width: 60%;
      height:750px;
      background-color: #ccc;
      position:relative;
      top:10px;
      left:19%;
      background-color: white;
      padding-top:20px;
      padding-left:250px;
      font-weight:bold;

      h1{
        background: #FF1A00;
        color: #FFF;
        border-radius: 3px;
        font-size: 10px;
        margin-right: 10px;
        padding: 5px 10px;
        letter-spacing: 0.2em;
        position: absolute;
        left:40%;
        top:4%;
      }
      h2{
        background: #FF1A00;
        color: #FFF;
        border-radius: 3px;
        font-size: 10px;
        margin-right: 10px;
        padding: 5px 10px;
        letter-spacing: 0.2em;
        position: absolute;
        left:40%;
        top:18%;
        }
        h3{
          background: #FF1A00;
          color: #FFF;
          border-radius: 3px;
          font-size: 10px;
          margin-right: 10px;
          padding: 5px 10px;
          letter-spacing: 0.2em;
          position: absolute;
          left:40%;
          top:32.5%;
          }
          h4{
            background: #FF1A00;
            color: #FFF;
            border-radius: 3px;
            font-size: 10px;
            margin-right: 10px;
            padding: 5px 10px;
            letter-spacing: 0.2em;
            position: absolute;
            left:36.5%;
            top:46.5%;
            }
            h5{
              background: #d0d0d0;
              color: #FFF;
              border-radius: 3px;
              font-size: 10px;
              margin-right: 10px;
              padding: 5px 10px;
              letter-spacing: 0.2em;
              position: absolute;
              left:38%;
              top:61%;
              }
              h6{
                background: #d0d0d0;
                color: #FFF;
                border-radius: 3px;
                font-size: 10px;
                margin-right: 10px;
                padding: 5px 10px;
                letter-spacing: 0.2em;
                position: absolute;
                left:36.5%;
                top:75%;
                }

      span{
        background-color: red;
      }
    }
    .mer-img{
      width:250px;
      position:relative;
      left:300px;
      top:80px;
    }
    .progress-information{
      position:relative;
      left:710px;
      top:0px;
    }
    .phone-img{
      position: absolute;
      left:300px;
      top:80px;
      width:250px;
    }
    .progress-phone{
      position: absolute;;
      left:710px;
      top:70px;
    }
    .address-img{
      position:relative;
      left:280px;
      top:90px;
      width:250px;
    }
    .progress-address{
      position:relative;
      left:680px;
      top:10px;
    }
    //credit画面--------------
    .credit-input-form{
      width: 60%;
      height:130px;
      background-color: #ccc;
      position:relative;
      top:46px;
      left:20%;
      background-color: white;
      padding-top:20px;
      padding-left:250px;
      font-weight:bold;

      span{
          background: #FF1A00;
          color: #FFF;
          border-radius: 3px;
          font-size: 12px;
          margin-right: 10px;
          padding: 5px 10px;
          letter-spacing: 0.2em;
          position: absolute;
          left:43%;
          top:20%;
          }
    }
    .credit-input-line{
      width: 60%;
      height:120px;
      background-color: #ccc;
      position:relative;
      top:46px;
      left:20%;
      background-color: white;
      padding-top:20px;
      padding-left:240px;
      font-weight:bold;

      span{
        background: #FF1A00;
        color: #FFF;
        border-radius: 3px;
        font-size: 12px;
        margin-right: 10px;
        padding: 5px 10px;
        letter-spacing: 0.2em;
        position:absolute;
        left:40%;
        top:23.5%;
        }

      .input-name{
        float:left;
        width: 20%;
        height: 48px;
        padding: 10px 16px 8px;
        margin-bottom: 40px;
        border: 1px solid #ccc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 100%;
        margin:10px;
       }
       h1{
         position: absolute;
         top:75px;
         left:365px;
       }
       h2{
        position: absolute;
        top:75px;
        left:500px;
      }
       
    }
    .credit-input-code{
      width: 60%;
      height:130px;
      background-color: #ccc;
      position:relative;
      top:46px;
      left:20%;
      background-color: white;
      padding-top:20px;
      padding-left:250px;
      font-weight:bold;

      span{
          background: #FF1A00;
          color: #FFF;
          border-radius: 3px;
          font-size: 10px;
          margin-right: 10px;
          padding: 5px 10px;
          letter-spacing: 0.2em;
          position: absolute;
          left:50%;
          top:20%;
          }
    }
    .credit-explain{
      width: 60%;
      height:70px;
      background-color: #ccc;
      position:relative;
      top:30px;
      left:20%;
      background-color: white;
      padding-top:10px;
      padding-left:430px;
    }
    .credit-footer{
      width: 60%;
      height:120px;
      background-color: #ccc;
      position:relative;
      top:0px;
      left:20%;
      background-color: white;
      padding-top:20px;
      padding-left:240px;
    }
    .credit-img{
      position:absolute;
      top:415px;
      left:500px;
    }
//--------------------
.complete-img{
  position: relative;
  left:300px;
  top:80px;
  width:250px;
}
.progress-complete{
  position:relative;
  left:710px;
  top:10px;
}
.complete-message{
  width: 60%;
  height:140px;
  background-color: #ccc;
  position:relative;
  top:10px;
  left:20%;
  background-color: white;
  padding-top:70px;
  padding-left:15px;
  p{
     text-align: center;
     font-size: 20px;
  }
}
.complete-button{
  width: 60%;
  height:140px;
  background-color: #ccc;
  position:relative;
  top:10px;
  left:20%;
  background-color: white;
  padding-top:10px;
  padding-left:15px;
}
.start-button{
  width: 50%;
  height: 60px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-bottom: 5%;
  background-color: red;
  color: white;
  text-align: center;
  margin:0 auto;
}
.complete-app-banner{
  background-image: url('https://i.gyazo.com/48a0d974109e794a5e6b5ca2b4c878dc.png');
  width: 60%;
  height:30%;
  position:relative;
  top:10px;
  left:20%;
  padding-top:10px;
  padding-left:15px;
}
    