.body {
  margin: 0;
  padding: 0;
}

.rogin_wrapper {
  width: 100vw;
  height: 150vh;
  background-color: #f5f5f5;
  margin: 0;
}

.rogin_center_wrapper {
  position: relative;
  width: 36%;
  height: 65%;
  top: 150px;
  left: 33%;
  background-color: white;
  padding: 0;
}

.rogin_top_wrapper {
  position: relative;
  width: 100%;
  height: 14.3%;
  margin: 0;
  object-fit: contain;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.rogin_bottom_wrapper {
  margin: 0;
  position: relative;
  width: 100%;
  height: 82.6%;
  margin: 0;
}

.new_bottom_wrapper {
  position: relative;
  width: 100%;
  height: 15%;
  text-align: center;
  border-bottom: double 1px #dcdcdc;

  p {
    font-size: 80%;
  }
}

.new_bottom {
  position: absolute;
  top: 20%;
  left: 15%;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
  width: 50%;
  height: 28%;
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
  font-size: 80%;
}

.sume_bottom_wrapper {
  position: relative;
  width: 100%;
  height: 80%;
}

.oauth_bottom {
  position: relative;
  width: 100%;
  height: 30%;
}



.rogin_facebook_bottom {
  background-color: #3b5998;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 50%;
  height: 15%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
  font-size: 80%;

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 30px;
    background-image: url("./facebook-logo.jpg");
    background-repeat: no-repeat;
    background-size: 30px 20px;
  }
}

.rogin_google_bottom {
  position: absolute;
  text-decoration: none;
  top: 60%;
  left: 15%;
  width: 50%;
  height: 15%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  text-align: center;
  color: black;
  border: solid 1px black;
  border-radius: 4px;
  font-size: 80%;

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 19px;
    width: 50px;
    height: 30px;
    background-image: url("./google_bottom.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
}

.form_wrapper {
  position: relative;
  width: 100%;
  height: 70%;
}

.form_1 {
  position: absolute;
  top: 8%;
  left: 15%;
  width: 69%;
  height: 11%;
}

input[type="email"] {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form_2 {
  position: absolute;
  top: 28%;
  left: 15%;
  width: 69%;
  height: 11%;
}

input[type="password"] {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.recaptcha_wrapper {
  position: absolute;
  top: 48%;
  left: 15%;
  width: 70%;
  height: 50%;
}

input[type="submit"] {
  position: absolute;
  left: 0%;
  top: 57%;
  width: 100%;
  height: 30%;
  background-color: red;
  font-size: 80%;
  color: white;
  border-radius: 4px;
}

.forget_path {
  position: relative;
  left: 15%;
  width: 100%;
  font-size: 80%;
  color: '1e90ff';
  text-decoration: none;
}