.selling__products {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  &__container {
    width: 700px;
    background-color: #fff;
    box-sizing: border-box;
  }
    &__tab__head {
      padding: 0 16px;
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
      text-align: left;
      font-weight: bold;
    }
    &__tabs {
      display: flex;
      border: 0;
      background: #eee;
      font-size: 16px;
      line-height: 72px;
      li  {
        display: inline-block;
        width: 33.3%;
        text-align: center;
        vertical-align: top;
        }
        .active {
          background: #fff;
      }
    }
    .pager {
      position: relative;
      font-size: 0;
      text-align: center;
      margin-top: 40px;
      height: 44px;
      background-color: #f5f5f5;
    }
      .pager-prev {
      position: absolute;
      top: 0;
      left: 0;
    }
      .pager-cell {
        display: inline-block;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #ccc;
        font-size: 14px;
        line-height: 42px;
      }
      .pager-next {
        position: absolute;
        top: 0;
        right: 0;
      }
      .tab-content {
        padding-top: 30px;
      }
      .mypage-item-link {
        position: relative;
        display: block;
        min-height: 80px;
        padding: 16px;
        color: #333;
      }
      .treading_nothing {
        padding: 30px 0 60px;
        font-weight: 600;
        font-size: 16px;
        color: #ccc;
      }
      .mypage-item-list li {
        border-bottom: 1px solid #eee;
      }
      .mypage-item-link figure {
        overflow: hidden;
        float: left;
        width: 48px;
        height: 48px;
        img {
          width: 48px;
          height: 48px;
          vertical-align: middle;
        }
        .mypage-item-list img.is-higher-height {
          top: 50%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
        .mypage-item-list img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .lazyloaded {
          opacity: 1;
          -webkit-transition: opacity .3s;
          transition: opacity .3s;
        }
      }
      .mypage-item-body.show-stock-item {
        margin-right: 100px;
      }
      .mypage-item-body {
        margin: 0 40px 0 68px;
      }
      .mypage-item-text {
        overflow: hidden;
        display: block;
        display: -webkit-box;
        max-height: 4.4em;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        line-height: 1.5;
        text-align: left;
      }
      .listing-item-count {
        vertical-align: 2px;
        margin: 0 6px 0 0;
      }
      .listing-item-count i {
        vertical-align: middle;
        color: #ccc;
      }
      .listing-item-count span {
        vertical-align: middle;
        margin: 0 0 0 2px;
        font-size: 16px;
        color: #888;
      }
      .listing-item-count {
        vertical-align: 2px;
        margin: 0 6px 0 0;
        float:left;
      }      
      .listing-item-count i {
        vertical-align: middle;
        color: #ccc;
      }
      .listing-item-count span {
        vertical-align: middle;
        margin: 0 0 0 2px;
        font-size: 16px;
        color: #888;
      }
      .mypage-item-status {
        display: inline-block;
        padding: 5px 6px;
        border-radius: 2px;
        font-size: 12px;
        background: #0099e8;
        color: #fff;
        float: left;
      }
      .mypage-item-link .fa-angle-right {
        position: absolute;
        top: 50%;
        right: 16px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
       }
      .fa {
        font-size: 25px;
        vertical-align: middle;
      }
      a {
      color: #333;
      font-weight: bold;
    }
}