.container{
  background-color: #f1f1f1;
.sign-up-header {

  text-align: center;
  .sign-up-header__main {
    width: 185px;
    line-height: 49px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 50px;
    display: inline-block;
  }
}
.signup {
  background-color: #fff;
  width: 700px;
  margin: auto;
  a {
    color: #fff;
    text-decoration: none;
  }
  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    padding:  32px;
    text-align: center;
  }
}

.signup-select-case{
  border-top: 1px solid #f5f5f5;
  padding: 40px 40px 64px;
  ul {
    :first-child {
      margin-top: 0;
    }
  }
  li {
    border-radius: 4px;
    width: 343px;
    height: 50px;
    margin: 16px auto 0;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    position: relative;
    a {
      display: block;
    }
    .fa {
      position: absolute;
      left: 20px;
    }
  }
}

.email-address {
  background-color: #ea352d;
  .fa {
    top: 15px;
    font-size: 20px;
  }
}

.facebook {
  background-color: #385185;
  .fa {
    top: 12.5px;
    font-size: 26px;
  }
}

.google {
  box-sizing: border-box;
  border: #979797 solid 1px;
  a {
  color: #333;
  }
  .fa {
    top: 15px;
    font-size: 19px;
  }
}
.k_su_footer {
  height: 200px;
  width: 100%;
  &__inner {
    height: 100%;
    width: 456px;
    margin: 50px auto 0;
    text-align: center;
    &--nav {
      width: 100%;
      display: flex;
      padding-inline-start: 40px;
      list-style: none;
      &-li {
        margin: 0 5px;
        &-a {
          color: #333333;
          font-size: 12px;       
        }
      }
    }
    &--logo {
      display: block;
      margin: 40px 0 0 0;
    }
    &--small {
      font-size: 12px;
      margin: 5px 0 0 0;
    }
  }
} 
}