.listing__product__change__box {
  margin: 24px 0 24px 0;
  background: #fff;
  padding: 8px 16px 8px 16px;
  .btn-default {
    margin: 16px 0 16px 0;
    display: block;
    width: 650px;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  .btn-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
}